{% extends 'yolo_site/base.html' %}
{% block content %}
    <h1 class="mainh1">About Us</h1>
    <hr>
    <h4><br>I, <em>Shaheer Rehman</em>, developed this pharmacy management web app project using django for software engineering course in my 5th semester. </h4>
    <hr>
    <h1>Credentials</h1>
    <hr>
    <h4>Admin Username: shaheer</h4>
    <h4>Admin Password: testpass</h4>
    <p></p>
    <h4>Employee Username: ali</h4>
    <h4>Employee Password: ali</h4>
    <hr>
    <h4><em><strong>ENJOY YOUR TIME HERE</strong></em></h4>
{% endblock %}}