<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{#    Custom css#}
    <link rel="stylesheet" href="{% static 'base.css' %}">

{#    fonts#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Russo+One&display=swap" rel="stylesheet">
{#    material icons#}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
    /*Rules for sizing the icon*/
    .material-icons.md-32 { font-size: 32px; }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">
    <title>YOLO</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navfont">
        <div class="container-fluid">
            <a class="navbar-brand bigbrand" title="Homepage" href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" alt="logo img" width="90" height="40" class="d-inline-block align-text"> YOLO Pharma</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" title="About Page" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" target="_blank" aria-current="page" title="My GitHub Page" href="https://github.com/ShaheerRehman">GitHub</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-right">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Manage Employees" href="{% url 'emp_list' %}">Employees</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Manage Companies" href="{% url 'comp_list' %}">Companies</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Generate Bill" href="{% url 'bill_create' %}">Generate Bill</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Manage Medicines" href="{% url 'med_list' %}">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Welcome <span class="cap">{{ user.username }}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Logout" href="{% url 'logout' %}"><span class="material-icons md-32">logout</span></a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" title="Login" href="{% url 'login' %}"><span class="material-icons md-32">login</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container bodycont">
        <div class="container py-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>