{% extends 'yolo_site/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h1 class="display-5 fw-bold">Login!</h1>
    <p class="col-md-8 fs-4">(Must be an admin or an employee, please check admin for issues)</p>
    <hr>
    <p></p>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again!</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {% bootstrap_field form.username %}
            </div>
            <div class="col-6">
                {% bootstrap_field form.password %}
            </div>
        </div>
        <p></p>
        <div class="container rel">
            <input type="submit" class="btn btn-primary btn-right" value="Login">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}